<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Process Image</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="../static/style.css" rel="stylesheet">
  
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="home" class="active"><a class = "active" href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Process Image</h3>
        </div>
 
        <div class="container-fluid">
		   <div id="image-container" align = 'center'>
            <img src=" {{url_for('show_image', filename=image_name)}} " style="max-width: 560px;">
            </div>
        <br>
        <div class="row">
		
            <div class="col-lg-4" style="background-color:lavender;">
                
                <form id="form-flip" action="{{ url_for('flip') }}" method="POST" enctype="multipart/form-data">        
                <h4>Flip: &nbsp;<button id="btnFlipV" class="btn btn-primary" type="submit" name="mode" value="vertical">Vertical</button>			
				   &nbsp;&nbsp;&nbsp;
                 <button id="btnFlipH" class="btn btn-primary" type="submit" name="mode" value="horizontal">Horizontal</button>
				 </h4>
			    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>
				 <form id="form-BW" action="{{ url_for('BW') }}" method="POST" enctype="multipart/form-data">
                 <h4>Black & White: <button id="btnThumbnail" class="btn btn-primary" type="submit" name="BW" value="BW">Black & White</button>
				  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                 </h4></form>    
				
            </div>
			<div class="col-lg-4" style="background-color:lavenderblush;">
                <form id="form-resize" action="{{ url_for('resize') }}" method="POST" enctype="multipart/form-data">
                 <h4>Resize: <input type="number" placeholder="%" min="0" max="400" name="scale" required>                              
                  <button id="btnCrop" class="btn btn-primary" type="submit">Resize</button>
				  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                 </h4></form> 
                 <form id="form-thumbnail" action="{{ url_for('thumbnail') }}" method="POST" enctype="multipart/form-data">
                 <h4>Thumbnail: <button id="btnThumbnail" class="btn btn-primary" type="submit" name="thumbnail" value="thumbnail">Thumbnail</button>
				  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                 </h4></form>        				 
            </div>
 
            <div class="col-lg-4" style="background-color:lavender;" >
                <form id="form-rotate" action="{{ url_for('rotate') }}" method="POST" enctype="multipart/form-data"> 
			    <h4>Rotate: <input type="number" name="angle" min="-359" max="359" placeholder="degrees" required>        
                  <button id="btnRotate" class="btn btn-primary" type="submit">Rotate</button>
	  		  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </h4></form>

                <form id="form-blend" action="{{ url_for('blend') }}" method="POST" enctype="multipart/form-data">  
		        <h4>Blend:&nbsp;&nbsp;&nbsp;<input type="number" name="alpha" placeholder="%" min="0" max="100" required>               
                  <button id="btnBlend" class="btn btn-primary" type="submit">Process</button>
	  	       <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </h4></form>
                
            </div>
        </div>
		</div>
    </div>
</body>
 
</html>

